global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend http-in
    bind *:80
    mode tcp
    option tcplog
    tcp-request inspect-delay 5s
    tcp-request content accept if HTTP
    use_backend caddy-http if { hdr(host) -i livekit.navigo.et turn.navigo.et livekit-whip.navigo.et }
    use_backend traefik-http if { hdr(host) -i app.navigo.et php.navigo.et localhost }

backend caddy-http
    mode tcp
    server caddy caddy:8080

backend traefik-http
    mode tcp
    server traefik traefik:8080

frontend https-in
    bind *:443
    mode tcp
    option tcplog
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    use_backend caddy-https if { req.ssl_sni -i livekit.navigo.et turn.navigo.et livekit-whip.navigo.et }
    use_backend traefik-https if { req.ssl_sni -i app.navigo.et php.navigo.et localhost }

backend caddy-https
    mode tcp
    server caddy caddy:8443

backend traefik-https
    mode tcp
    server traefik traefik:8443
